certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==3.4.6
idna==3.4
importlib-metadata==6.8.0
keyring==23.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
pycookiecheat==0.5.0
pycparser==2.21
Pygments==2.15.1
requests==2.31.0
rich==13.4.2
urllib3==2.0.4
zipp==3.16.2
